/* General setup */
html, body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	background-color: rgb(139, 149, 168);
}
h4{
	font-size: 3rem;
}
h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

p, li, dt, dd {
	font-size: 1.6rem;
}

img {
	height: auto;
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.contents {
	width: 25%;
	float: left;
	justify-content: center;
}

.figure {
	width: 20%;
	float: right;
	justify-content: center;
}

li {
	padding-bottom: 1rem;
}

li:last-child {
	padding-bottom: 0rem;
}

dd {
	padding-bottom: 1rem;
}

dd:last-child {
	padding-bottom: 0rem;
}

/*
dt {
	float: left;
	clear: left;
}
dt::after {
	content: ":    ";
	white-space: pre;
}
*/

.paper-author {
	font-variant-caps: small-caps;
}

.paper-title {
	font-style: italic;
}

.paper-journal {
	font-weight: bold;
}

.event-title {
	font-style: italic;
}

.event-org {
	font-style: italic;
}

.talk-title {
	font-style: italic;
}

a.person-link {
	color: #003d31;
	font-weight: bold;
	text-decoration: none;
}

a.event-link {
        color: #003d31;
        font-weight: bold;
        text-decoration: none;
}

a.paper-link {
        color: #003d31;
        font-weight: bold;
        text-decoration: none;
}

a.file-link {
        color: #003d31;
        font-weight: bold;
        text-decoration: none;
}

/* Setup of background */
background {
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
	color: black;
	height: 410px;
	display: flex;
	font-size: 2em;
	align-items: center;
	background-image: url(background2-1.jpg);
	background-position: right center;
	background-size: cover;
	background-repeat: repeat-x;
	object-fit: contain;
	/*margin-left:-3.5em;
  	margin-right:-3.5em;*/
}

background h1 {
	flex: 1;
	color:powderblue;
	text-align: center;
	font-style: italic;
	font-size: 5rem;
}


/* Setup of navigation bar */

nav {
	position: relative;
	width: 100%;
	background-image: linear-gradient(to right, rgb(208, 175, 170),rgb(239, 213, 189));
	color: black;
	height: 60px;
	display: flex;
	font-size: 2em;
	align-items: center;
	/*margin-left:-3.5em;
  	margin-right:-3.5em;*/
}

nav a {
	color: black;
	display: flex;
	text-decoration: none;
	font-size: 2rem;
}

a:hover{
    text-decoration: underline;
  }

nav ul {
	list-style-type: none;
	flex:2;
	display: flex;
	text-align: center;
}

nav ul li {
	display: flex;
	flex: 1;
	text-align: center;
	align-items: center;
	padding-bottom: 0rem;
}

nav h1 {
	flex: 1;
	text-align: center;
}

nav p {
	display: flex;
	flex: 0.3;
	text-align: center;
}

/*
nav dt {
        float: left;
        clear: left;
}
nav dt::after {
        content: ":    ";
        white-space: pre;
}
*/

/* Main setup */

main {
	padding: 1%;
	display: flex;
	width: 85vw;
	margin: auto
}
